.header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(16px + 2vmin);
  color: white;
  min-width: 100%;
}

.header svg {
  margin-right: 15px;
}